html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.buttons {
  z-index: 0;
}

.circle {
  position:absolute; 
  width: 44px;
  height: 44px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  ;
}

.hover {
  cursor:pointer
}

.red {
  background:rgb(235, 30, 90)
}

.grey {
  background:#D9D9D9 
}

.whiteSquare {
  background:rgb(250, 250, 250)
}

.blackSquare {
  background:#333333
}

.blackTriangle {
  border-left: 16px solid #333333;
}

.whiteTriangle {
  border-left: 16px solid rgb(250, 250, 250)
}

#play {
  left:20px; 
  top:52px;
} 

#stop {
  left:79px; 
  top:52px;
} 

.stopsquare {
  position:absolute; 
  left:93px; 
  top:66px;
  width: 16px;
  height: 16px;
} 

.arrow-right {
  position:absolute; 
  left:36px; 
  top:66px;
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  
}

#messanger {
  left:1310px; 
  top:52px;
}

.rounded-rect {
  position:absolute; 
  left:1321px;
  top:64px;
  width: 24px;
  height: 19px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 8px;
}
.arrow-up {
  position:absolute; 
  transform: rotate(135deg);
  left:1320px;
  top:79px;
  width: 0; 
  height: 0; 
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;

  border-left: 8px solid #333333;
}

.blackMsgTriangle {
  border-left: 8px solid #333333;
}

.whiteMsgTriangle {
  border-left: 8px solid rgb(250, 250, 250);
}

#msgClose {
  left:1005px; 
  top:5px;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background:rgb(250, 100, 90)
}

#msgClose:after{
  content: "\00d7"; /* This will render the 'X' */
  position:absolute; 
  left:6px; 
  top:-2px;
  font-size:22px;
}

.exRed {
  color: rgb(250, 100, 90);
}

.exBlack {
  color: black;
}

.hidden {
  z-index: -1;
}

.top {
  z-index: 2;
}

@font-face {
  font-family: 'Inconsolata';
  src: 'Fonts/Inconsolata-Regular.ttf';
}

@font-face {
  font-family: 'Montserrat';
  src: 'Fonts/Montserrat.otf';
}
.menu {
  font-family: 'Montserrat';
  font-size: 12px;
  position:absolute; 
}

.menuText {
  font-family: 'Montserrat';
  font-size: 12px;
  position:absolute; 
}


.menuGrey {
  color: rgb(95, 95, 95);
}

.menuRed {
  color: rgb(235, 30, 90)
}

.menuBlack {
  color:rgb(50, 50, 50)
}

.menuWhite {
  color:white
}


#file {
  left:66px; 
  top:13px;
}

#edit {
  left:121px; 
  top:13px;
}

#sketch {
  left:179px; 
  top:13px;
}

#help {
  left:254px; 
  top:13px;
}

#english {
  left:1246px; 
  top:13px;
}

#hello {
  left:1325px; 
  top:13px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position:absolute; 
}

.arrow-downGrey {
  border-top: 6px solid rgb(115, 115, 115);
}

.arrow-downRed {
  border-top: 6px solid rgb(235, 30, 90);
}

#fileT {
  left:91px; 
  top:19px;
}

#editT {
  left:149px; 
  top:19px;
}

#sketchT {
  left:224px; 
  top:19px;
}

#helpT {
  left:287px; 
  top:19px;
}

#englishT {
  left:1295px; 
  top:19px;
}

#helloT {
  left:1401px; 
  top:19px;
}

.menuS {
  position:absolute; 
}

#fileS {
  left:56px; 
  top:0px;
  width: 56px;
  height: 39px;
}

#editS {
  left:112px; 
  top:0px;
  width: 59px;
  height: 39px;
}

#sketchS {
  left:171px; 
  top:0px;
  width: 75px;
  height: 39px;
}

#helpS {
  left:246px; 
  top:0px;
  width: 60px;
  height: 39px;
}

#englishS {
  left:1233px; 
  top:0px;
  width: 82px;
  height: 39px;
}

#helloS {
  left:1315px; 
  top:0px;
  width: 120px;
  height: 39px;
}

#fileD {
  position:absolute; 
  left:56px;
  top:40px;
  width: 179px;
  height: 282px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(160, 160, 160);
  background: rgb(250, 250, 250);
}

#new {
  left:73px;
  top:50px;
}

#save {
  left:73px;
  top:85px;
}

#duplicate {
  left:73px;
  top:120px;
}

#share {
  left:73px;
  top:155px;
}

#download {
  left:73px;
  top:190px;
}

#open {
  left:73px;
  top:225px;
}

#add {
  left:73px;
  top:260px;
}

#examples {
  left:73px;
  top:295px;
}

#newS {
  left:57px; 
  top:41px;
  width: 179px;
  height: 39px;
}

#saveS {
  left:57px; 
  top:80px;
  width: 179px;
  height: 33px;
}

#duplicateS {
  left:57px; 
  top:113px;
  width: 179px;
  height: 35px;
}

#shareS {
  left:57px; 
  top:148px;
  width: 179px;
  height: 35px;
}

#downloadS {
  left:57px; 
  top:183px;
  width: 179px;
  height: 35px;
}

#openS {
  left:57px; 
  top:218px;
  width: 179px;
  height: 35px;
}

#addS {
  left:57px; 
  top:253px;
  width: 179px;
  height: 35px;
}

#examplesS {
  left:57px; 
  top:288px;
  width: 179px;
  height: 35px;
}

#notification {
  position: absolute;
  left: 1340px;
  top: 50px;
  width: 18px;
  height: 18px;
}

.nRed {
  background: red
}

#number {
  position: absolute;
  left: 1345.5px;
  top: 51px;
  font-size: 14px;
  font-family: 'Inconsolata';
}